image boot.vfat {
	vfat {
		files = {
			# Set to fat 16 for improved performance
			# Set cluster size to 512 and sectors per cluster to 1 for a smaller minimum partition
			extraargs = "-s 1 -S 512 -F 16"

			"bcm2708-rpi-zero-w.dtb",
			"rpi-firmware/bootcode.bin",
			"rpi-firmware/cmdline.txt",
			"../../../config.txt",
			"rpi-firmware/fixup_cd.dat",
			"rpi-firmware/start_cd.elf",
			"zImage"
		}
	}

	size = 8M
}

image sdcard.img {
	hdimage {}

	partition boot {
		# 0xE is FAT16B
    	partition-type = 0xE
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
	}
}